@model IEnumerable<ComeMyFishMarket.Models.Product>

@{
    ViewData["Title"] = "Admin Product";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h1>Product List </h1>

<p>
    <a asp-action="Create">Add New Product</a>
</p>
<form>
    Search Product: <input type="text" name="ProductName" /> &nbsp;&nbsp;&nbsp;
    Filter By Category: @Html.DropDownList("Category", "All") &nbsp;&nbsp;&nbsp;
    <input type="submit" name="search" value="Search Product" />
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                RM @Html.DisplayNameFor(model => model.Price)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    BlobManager bm = new BlobManager();
    List<string> bloblist = bm.ViewBlobImage(item.ProductImage);
    string[] splitblob = bloblist[0].Split("#");
        <tr>
            <td>
                <img src="@splitblob[1]" width="200px" height="200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
