@model IEnumerable<ComeMyFishMarket.Models.Payment>
@using Microsoft.AspNetCore.Identity
@using ComeMyFishMarket.Areas.Identity.Data
@inject UserManager<ComeMyFishMarketUser> UserManager
@{
    ViewData["Title"] = "Payment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Payment Date
            </th>
            <th>
                Order ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.CustomerID.Equals(UserManager.GetUserId(User)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketOrderID)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="OrderItems" asp-route-orderid="@item.MarketOrderID">View Order Details</a>
                    </td>
                </tr>
            }


        }
    </tbody>
</table>
