@model IEnumerable<ComeMyFishMarket.Models.OrderHistoryViewModelcs>
@using ComeMyFishMarket.Data;
@inject ComeMyFishMarketContext context;
@inject ComeMyFishMarketClassContext context1;
@using Microsoft.AspNetCore.Identity
@using ComeMyFishMarket.Areas.Identity.Data
@inject UserManager<ComeMyFishMarketUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-bottom:25px; font-family:cursive">Order History </h1>

<table id="Order" class="table w-100">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Order Product
            </th>
            <th>
                Order Quantity
            </th>
            <th>
                Total Price
            </th>
            <th>
                Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var order = context1.MarketOrder.FirstOrDefault(x => x.MarketOrderID == item.OrderID);
            var sname = context.Users.FirstOrDefault(x => x.Id == order.UserID);
            var image = context1.Product.FirstOrDefault(x => x.ProductID == item.ItemID);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @if (image != null)
                    {
                        BlobManager bm = new BlobManager();
                        List<string> bloblist = bm.ViewBlobImage(image.ProductImage);
                        string[] splitblob = bloblist[0].Split("#");
                        <img src="@splitblob[1]" width="70" height="60" />
                    }
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) x
                </td>
                <td>
                    RM @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate), Customer Name : @sname
                </td>
            </tr>
        }
    </tbody>
</table> 
  <a asp-controller="MarketOrders" asp-action="OrderList">Back to Order List</a> 




@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Order').DataTable({
                bPaginate: false,
                bFilter: false,
                bInfo: false,
                columnDefs: [
                    { "visible": false, "targets": 4 }
                ],
                language: {
                    "emptyTable": "Your order history is currently empty"
                },
                orderFixed: [[4, 'asc']],
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;


                    api.column(4, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="4">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                },
            });
        })

    </script>
    <style>
        td {
            vertical-align: middle !important;
        }
    </style>

}


